* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px Arial;
}

#main {
  width: 100%;
  height: 100vh;
  // padding: 2rem;

  // display: flex;
  // justify-content: space-evenly;
  // align-items: flex-start;

  // background: url('../img/background.jpg') no-repeat;
  // background-size: cover;
}

.block {
  margin: 1rem;
}

#left {
  width: 17.5rem;
  margin-top: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;

  position: absolute;

  h1 {
    text-align: center;
  }
}

#right {
  margin-left: 17.5rem;
  width: 70vmax;
  float: left;

  // background: url('../img/chart.png') no-repeat ;
  // background-size: contain;
}
