* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px Arial;
}

#main {
  width: 100%;
  height: 100vh;
}

.block {
  margin: 1rem;
}

#left {
  width: 17.5rem;
  margin-top: 0;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  position: absolute;
}

#left h1 {
  text-align: center;
}

#right {
  margin-left: 17.5rem;
  width: 70vmax;
  float: left;
}
